.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  padding: .8rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.green {
    background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--red);
  color: var(--text-over-primary);
}